<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite For GeoCode Api">
    <test name="GeoCodeTests">
       <groups>
           <run>
               <include name="regression"/>
           </run>
       </groups>
        <packages>
            <package name="mytests"/>
        </packages>
    </test>

</suite>